# SERVER CONFIGURATION
PORT = 4000
SESSION_SECRET = session_secret

# GOOGLE
GOOGLE_CLIENT_ID = GOOGLE-CLIENT-ID
GOOGLE_CLIENT_SECRET = GOOGLE-CLIENT-SECRET
GOOGLE_REDIRECT_URI = http://localhost:4000/auth/google/callback

# DB
PGHOST = localhost
PGUSER = USER
PGDATABASE = DATABASE-NAME
PGPASSWORD = USER-PASSWORD
PGPORT = 5432

# STRIPE
STRIPE_SECRET = STRIPE-SECRET