.sidebar {
  background-color: #ddd;
  width: 9rem;
  height: 90vh;
  position: fixed;
  right: 0;
}

.sidebar h3 {
  padding: .5rem;
  margin-bottom: 1rem;
}

.sidebar span {
  text-transform: capitalize;
}

.side-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side {
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 4rem;
}

#cart {
  padding: 1.5rem 1.65rem;
  display: flex;
}

#cart div {
  font-size: 1.25rem;
  color: #fff;
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
  background-color: red;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1rem;
}

.side:hover {
  background-color: #eee;
}